 
 @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
  
* {
    margin: 0;
    padding: 0;
    list-style-type: none; 
    font-family: 'Raleway', sans-serif;    
  }  

body {
    display: flex;
    justify-content: center;
    background-color: #fff;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}


a {
    color: inherit;
    text-decoration: none;
}

h1{    
    font-weight: 700;
    font-size: 22px;
}

h2{    
    font-weight: 700;
    font-size: 18px;
}

h3{    
    font-weight: 700;
    font-size: 16px;
    padding-top: 10px;
}

h4{    
    font-weight: 400;
    font-size: 14px;
}

h5{    
    font-weight: 400;
    font-size: 16 px;
} 

h6{    
    font-weight: 400;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

p{    
    font-weight: 400;
    font-size: 14px;
}

a {
    text-decoration: none;
    font-family: raleway;
  }

header a img {
    width: 61.09px;
    height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

  
  /*pour faire apparaître un soulignement bleu sous primary-nav au survol de la souris*/

nav li:hover:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 120px;
    top: 2px;
    background-color: #0065FC;
    text-align: center;
    transform: translateX(-5px);
  }

  /*pour décaler Filtre et Afficher plus vers la droite*/
  span:first-of-type{    
    font-size: 18px;
  }  

  /*pour empecher qu'apparaisse le label 'recherche ville'*/
  form div label {
      display: none;
  }

    article i{
    color: #0065fc
}

  /* les classes */

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.nav-title{
    font-family: raleway 700;
    font-size: 17px;
}

.align-vert {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 12px;
}

.align-horiz {
    display: flex;
}

.align-horiz-centre {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.align-horiz-center {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.align-horiz-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items:center;      
}

.align-horiz-wrap-pdg {
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-between;  
       
}

.align-horiz-around-pdr {
    display: flex;
    justify-content:space-between;        
    padding-left: 30px;
    padding-right: 30px;
    }

.align-horiz-between {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 30px;
    align-items: center;
}

.input[type="text"] {
    /*bouton formulaire Marseille*/
    width: 244px;
    height: 50px;
    border-color: gray;
    border: 2px;
    padding: 0 25px;
}

.inputGroup_text {
    font-size: 20px;
    padding-top: 8px;
    border-style: hidden;
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: 700;
    text-align: center;
    border: 3px solid #f2f2f2;
    height: 37px;
}

.inputGroup_btn {
    /*bouton rechercher*/
    border: 2px solid #f2f2f2;
    font-size: 20px;
    color: #f2f2f2;
    background-color: #0065fc;
    width: 150px;
    height: 49px;
    padding: 0 25px;
    border-radius: 0 15px 15px 0;
}

***********Affichage des pseudo éléments*******
  
.icon::before {
      /* removed font- based rules */
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

  }

.icon-eco::before {
    font: var(--fa-font-solid);
    content: "\f53a";
    color: #0065fc;
    margin-right: 7px;
  }

.icon-info::before {
    font: var(--fa-font-solid);
    content: "\f129";
    color: #0065fc;
    margin-right: 7px;
    width: 25px;
    height: 25px;
    border-radius: 900%;
    border: 5px solid #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.icon-famille::before {
    font: var(--fa-font-solid);
    content: "\f183";
    color: #0065fc;
    margin-right: 7px;
  }

.icon-coeur::before {
    font: var(--fa-font-solid);
    content: "\f004";
    color: #0065fc;
    margin-right: 7px;
  }

.icon-animaux::before {
    font: var(--fa-font-solid);
    content: "\f6d3";
    color: #0065fc;
    margin-right: 7px;
  }

  .icon-trend-up::after {
    font: var(--fa-font-solid);
    content: "\e098";
    color: #0065fc;
    margin-right: 7px;
    margin-left: 120px;
  }

  .filterGroup_title {
    font-family: raleway;
    font-size: 18px;
    font-weight: 700;
    }

.filterGroup ul li a:hover{
    color:#0065FC;
}

.filterGroup_item {   
    font-size: 17px;
    font-weight: 700;
    margin: 1px 2px 1px;
    padding: 10px 14px 10px;
    border-radius: 9999px;
    border: 2px solid darkgray;
    }

.fa-solid {
    color: var(--main-color);
    }
.fa-solid {
    font-weight: 900;
    }

.fa-xs {
    font-size: .75em;
    line-height: .08333em;
    vertical-align: .125em;
  }

.hebergements-et-populaires{   
    display: flex;
    justify-content: space-between;   
    
  } 

  .section-title {
    margin: 0;
    font-weight: 700;
    font-size: 22px;   
}

  .section-title-activites{
    font-size: 22px;
    font-weight: 700;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.card-title {
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 4px;
}

.card-subtitle {
    margin: 0;
}

.card-rating {
    margin-bottom: 5px;
    width: 133.1px;
    height: 19.20px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    
}

.neutral-star {
    color: var(--main-bg-color)
}  

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    justify-content: flex-start;
}
.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    }

.affiche-title{
    font-size: 18px;
    font-weight: 700;
    padding-top: 100px;
    }

.padding-r{
    padding-right: 250px;
}



      /*la structure*/

#primary-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 0;
    }

#primary-nav ul li {
    margin-right: 30px;
    text-decoration: none;
    text-align: center;
    margin-left: 30px;
    text-align: center;
    color: #0065fc;
}

#recherche {
    display: flex;
    align-items: center;
}

#btn-map {
    width: 50px;
    height: 50px;
    background: #f2f2f2;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 8px 0px 0px 8px;  
  }

  #town {
    font-size: 18px;
}       

  #search_mobile {
    display: none;
}

  #filterGroup ul a:hover {
    background-color: #DEEBFF;
      text-decoration: none;      
  }

  #filterGroup ul li{
    padding: 10px 15px 10px;
  }  

  #info {
    padding-bottom: 40px;
}

#hebergement {
    display: flex;
    flex-wrap: wrap;    
    border-radius: 10px 10px 10px 10px;
    width: 65%;    
    background-color: var(--main-bg-color);  
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 20px;
  }   

#hebergement figure img {     
    width: 246px;
    height: 124px;
    object-fit: cover;
    border-radius: 8% 8% 0 0;
    border: #f2f2f2;
    overflow: hidden;
  }  

#hebergement p {
    font-size: 14px;
  }

#hebergement div a{
    color:black;
  } 

#les-plus-populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 2%;
    align-items: center;
    width: 32%;
    margin-left: 20px;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 20px;
  }

#les-plus-populaires p {
    font-size: 14px;
  }

#les-plus-populaires article {
    display: flex;    
    align-items: center;
    flex-wrap: wrap;      
    width: 343px;
    margin-bottom: 20px;
  }

#les-plus-populaires img {
    width: 137px;
    height: 144px;
    object-fit: cover;
    border-radius: 10% 0% 0 10px;
    border: #f2f2f2;
    overflow: hidden;
  }
 

#les-activites-a-marseille article {
    width: 302px;
    height: 444.51px;
    background-color: #fff;
    border: 2px solid whitesmoke;
    border-radius: 5%;
    
  }

#les-activites-a-marseille img {   
    width: 302px;
    height: 388.50px;
    object-fit: cover;
    border-radius: 5% 5% 0 0;
    background-color: #f2f2f2;
  }

#footer{
    background-color: #9c7878;
    
  }

#footer nav ul li a:hover {
    text-decoration: none;
  }

  /*Responsive*/

@media screen and (max-width: 1024px) {

        .align-horiz-around {
            display: flex;
            flex-direction: column;
        }
        .align-horiz-around-pdr {
            display: flex;
            flex-direction: column;            
        }

    #les-plus-populaires {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }

    #les-plus-populaires article {
    display: flex;
    flex-direction: column;
        background-color: #fff;
        border: 5px solid white;
        border-radius: 15px;
        width: 343px;
        margin-bottom: 20px;
        }

    .hebergements-et-populaires{
        display: flex;
        flex-direction: column;
        justify-content: space-between;  
        align-items: center;
        text-align: center;
        }

  }

  @media screen and (max-width: 768px) {

    #content {
        width: 100%;
        }

    #search_desktop {
        display: none;
        }

    .section-title-activites{
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;    
    }
        
    .inputGroup_btn {
        /*bouton rechercher*/
        border: 2px solid #f2f2f2;
        font-size: 20px;
        color: #f2f2f2;
        background-color: #0065fc;
        width: 40px;
        height: 49px;
        padding: 0 25px;
        border-radius: 0 15px 15px 0;
        }

    #content div {
        justify-content: center;
        }

    #primary-nav {
        display: none;
        }

    h1,h3,h5,h6 {
        text-align: center;
        }

    #content div nav {
        text-align: center;
        }

    header form {
        text-align: center;
        }

    #recherche-hebergement {
        display: block;          
        }

    #filterGroup {
        display: flex;
        flex-direction: column;
        }

    #hebergement {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f2f2f2;
        border-radius: 10px 10px 10px 10px;
        width: 400px;
        flex-direction: column;
        }

    .align-horiz {
        display: flex;
        align-items: center;
        flex-direction: column;
        }

    .align-horiz-around {
        display: flex;
        flex-direction: column;      
        align-items: center;
        }

    .align-horiz-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        }

    #les-activites-a-marseille h1 {
        text-align: center;
        }
    .align-center{
        text-align: center;
        }
    .align-horiz-around-pdr {
        align-items: center;
        text-align: center;
        }

    .padding-r{
        text-align: center;
        padding-right: 0px;;
    }
}