  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
  }

  body {
    display: flex;    
    background-color: #fff;
  }

  :root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
  }


  a {
    color: inherit;
    text-decoration: none;
  }

  h1 {
    font-weight: 700;
    font-size: 1.375em;
    padding-bottom: 10px;
  }

  h2 {
    font-weight: 700;
    font-size: 1.375em;
  }

  h3 {
    font-weight: 700;
    font-size: 1.125em;
    padding-top: 10px;
  }

  h4 {
    font-weight: 700;
    font-size: 1.0625em;
  }

  h5 {
    font-weight: 400;
    font-size:1em;
  }

  h6 {
    font-weight: 400;
    font-size: 0.875em;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  p {
    font-weight: 400;
    font-size: 1em;
  }

  a {
    text-decoration: none;
    font-family: raleway;
  }

  header div h3 {
    font-family: raleway;
    font-size: 1.125em;
    font-weight: 700;
    padding-top: 25px;
    padding-left: 20px;

  }

  header a img {
    width: 61.09px;
    height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header nav ul li{
    margin: 10px;
  }

  footer ul li p {
    padding-top: 10px;
    padding-bottom: 5px;
  }


  /*pour faire apparaître un soulignement bleu sous primary-nav au survol de la souris*/

  /*nav li:hover:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100px;
    top: 2px;
    background-color: #0065FC;
    text-align: center;
    transform: translateX(2px);    
  }*/  

  #primary-nav ul li:hover {    
    display: block;
    justify-content: space-around;
    color: #0065fc;
    border-top : 2px solid blue;   
    
    }

    #primary-nav ul li{  
    text-align: center;
    padding-top: 20px;
    }

  /*.align-horiz-pri-nav-2{
    font-display: flex;
    justify-content: space-between;
  } 
  
  
  .align-horiz-pri-nav-1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
  }*/


  /*pour empecher qu'apparaisse le label 'recherche ville'*/

  form div label {
    display: none;
  }

  article i {
    color: #0065fc
  }

  /* les classes */

  .main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 1025px;
    padding: 0 50px;

  }

  .align-horiz-pri-nav-2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
  }

  ***********Affichage des pseudo éléments******* .icon::before {
    /* removed font- based rules */
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

  .icon-eco::before {
    font: var(--fa-font-solid);
    content: "\f53a";
    color: #0065fc;
    margin-right: 7px;
  }

  .icon-info::before {
    font: var(--fa-font-solid);
    content: "\f129";
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
    margin-left: 10px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 5px solid #f2f2f2;

  }

  .icon-famille::before {
    font: var(--fa-font-solid);
    content: "\f183";
    color: #0065fc;
    margin-right: 7px;
  }

  .icon-coeur::before {
    font: var(--fa-font-solid);
    content: "\f004";
    color: #0065fc;
    margin-right: 7px;
  }
  
  .icon-animaux::before {
    font: var(--fa-font-solid);
    content: "\f06d";
    color: #0065fc;
    margin-right: 7px;
  }

  .icon-trend-up::after {
    font: var(--fa-font-solid);
    content: "\f201";
    color: #0065fc;

  }

  .filterGroup ul li a:hover {
    color: #0065FC;
  }

  .filterGroup_item {
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 1.0625em;
    font-weight: 700;
    height: 50px;
    margin: 1px 2px 1px;
    padding: 4px 19px 04px 19px;
    border-radius: 25px;
    border: 2px solid darkgray;
  }

  .fa-solid {
    color: var(--main-color);
  }

  .fa-solid {
    font-weight: 900;
  }

  .fa-xs {
    font-size: .75em;
    line-height: .08333em;
    vertical-align: .125em;
  }

  .align-vert {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
    padding-bottom: 5px

  }

  .align-vert-header {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  .align-vert-ftr {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 446.67px;
    padding-left: 30px;
  }

  .align-horiz-sec-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 30px;
  }

  .align-horiz-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 760px;
    height: 60px;
    padding-bottom: 30px;
  }

  .align-horiz-pop {
    display: flex;
  }

  .align-horiz-centre {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .align-horiz-center {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
  }

  .align-horiz-centre-info {
    display: flex;
    align-items: center;
  }

  .align-horiz-heb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .align-horiz-ftr {
    display: flex;
    justify-content: space-between;
    background-color: rgba(242, 242, 242, 1);
    align-items: flex-start;
  }

  .align-horiz-pri-nav-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    height: 107px;
    align-items: flex-end;
    padding-bottom : 55px; 
  }

  .input[type="text"] {
    /*bouton formulaire Marseille*/
    width: 244px;
    height: 48px;
    border-color: gray;
    border: 2px;
    padding: 0 25px;
  }

  .inputGroup_text {
    font-size: 20px;
    border-style: hidden;
    margin-bottom: 30px;
    margin-top: 28px;
    font-weight: 700;
    text-align: center;
    border: 3px solid #f2f2f2;
    height: 48px;
  }

  .inputGroup_btn {
    /*bouton rechercher*/
    border: 2px solid #f2f2f2;
    font-size: 1.25em;
    color: #f2f2f2;
    background-color: #0065fc;
    width: 150px;
    height: 48px;
    padding: 0 25px;
    border-radius: 0 15px 15px 0;
  }

  .hebergements-et-populaires {
    display: flex;
    justify-content: space-around;
  }

  .section-title-heb {
    margin: 0;
    font-weight: 700;
    font-size: 1.375em;
    padding-left: 23px;
  }

  .section-title-activites {
    font-size: 1.375em;
    font-weight: 700;    
    padding-left: 30px;
    padding-top: 25px;

  }

  .card-title-act {
    font-size: 1em;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 4px;
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .card-title {
    font-size: 1em;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 4px;
  }

  .card-subtitle {
    margin: 0;
  }

  .card-rating {
    margin-bottom: 5px;
    width: 133.1px;
    height: 19.20px;
  }


  .neutral-star {
    color: var(--main-bg-color)
  }


  .hebergement-card {
    display: flex;
    margin-top: 33px;
    justify-content: flex-start;
    max-width: 100%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    box-sizing: border-box;
  }

  .section-title-pop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.375em;
    font-weight: 700;
    padding-left: 30px;
  }

  .align-vert-pop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .populaires-cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    box-sizing: border-box;
    margin-top: 33px;
    width: 90%;
    max-width: 350px;
    height: auto;
    padding: 5px 0px 0px 5px;
  }

  .populaires-cards img {
    width: 123px;
    height: 147px;
    object-fit: cover;
    border-radius: 10% 0% 0 10px;
    border: #f2f2f2;
    overflow: hidden;
  }


  .activites-card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    max-width: 297.50px;
    background-color: #fff;
    border: 2px solid whitesmoke;
    border-radius: 5%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-top: 20px;
  }

  .card-title {
    margin-top: 10px;
  }

  .affiche-title {
    font-size: 1.125em;
    font-weight: 700;
    padding-top: 40px;
    padding-left: 22px;
    padding-bottom: 30px;
  }

  .align-horiz-act {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    padding: 30px;
    width: 100%;
  }

  .padding-r {
    padding-right: 250px;
  }


  /*la structure*/

  #primary-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 0;
  }

  
  #recherche-hebergement {
    display: flex;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  #recherche {
    display: flex;
    align-items: center;
    width: 415px;
    height: 49px;

  }

  #btn-map {
    width: 50px;
    height: 48px;
    background: #f2f2f2;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 8px 0px 0px 8px;
  }

  #town {
    font-size: 1.125em;
  }

  #search_mobile {
    display: none;
  }

  #filterGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 10px;
  }

  #filterGroup ul a:hover {
    background-color: #DEEBFF;
    text-decoration: none;
  }

  #filterGroup ul li {
    padding: 10px 15px 10px;
  }

  #info {
    padding-bottom: 20px;
    padding-top: 10px;
  }

  #info p {
    padding-left: 10px;
  }

  #hebergement {
    /*display: flex;
  flex-wrap: wrap;*/
    border-radius: 10px 10px 10px 10px;
    width: 65%;
    background-color: rgba(242, 242, 242, 1);
    box-sizing: border-box;
    padding-top: 33px;
  }

  #hebergement figure img {
    width: 240px;
    height: 124px;
    object-fit: cover;
    border-radius: 8% 8% 0 0;
    border: #f2f2f2;
    overflow: hidden;
  }

  #hebergement p {
    font-size: 0.875em;
  }

  #hebergement div a {
    color: black;
  }

  #les-plus-populaires {
    /*display: flexbox;
    flex-wrap: wrap; */
    border-radius: 10px 10px 10px 10px;
    width: 32%;
    background-color: rgba(242, 242, 242, 1);
    box-sizing: border-box;
    padding-top: 33px;    
    padding-bottom: 30px;
  }

  #les-plus-populaires p {
    font-size: 0.875em;
  }

  #les-activites-a-marseille {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
  }


  #les-activites-a-marseille img {
    width: 294.50px;
    height: 380px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5% 5% 0 0;
    background-color: #f2f2f2;
  }

  #footer {
    background-color: rgba(242, 242, 242, 1);
  }

  #footer nav ul li a:hover {
    text-decoration: none;
  }


  /*Responsive*/
  @media screen and (max-width: 1024px) {

    #filterGroup {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;

    }


    .filterGroup_title {
      font-family: raleway;
      font-size: 1.125em;
      font-weight: 700;
      padding-top: 15px;
      padding-left: 15px;
      padding-bottom: 5px;
    }

    .align-horiz-pri-nav-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;    
      height: 100px;
      align-items: flex-end;
      padding-bottom : 55px; 
    }
  

    

    .align-horiz-sec-nav {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .align-horiz-around {
      display: flex;
      flex-direction: column;
    }

    .align-vert-pop {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }

    .align-horiz-act {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px 10px 10px 10px;
      padding: 30px;
    }

    .hebergements-et-populaires {
      display: flex;
      flex-direction: column;
      justify-self: center;
      
    }

    #hebergement {
      border-radius: 10px 10px 10px 10px;
      width: 924px;
      height: 611.50px;
      box-sizing: border-box;
      padding-top: 33px;
      padding-bottom: 30px;
    }

    #recherche-hebergement {
      display: flex;
      /*padding-top: 30px;*/
      /*padding-bottom: 105px;*/
    }


    .hebergement-card {
      display: flex;
      margin-top: 33px;
      justify-content: flex-start;
      width: 268px;
      height: 207.25px;
      background-color: white;
      border-radius: 20px;
      padding: 5px;
      filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
      box-sizing: border-box;
    }

    #hebergement figure img {
      width: 257px;
      height: 124px;
      object-fit: cover;
      border-radius: 8% 8% 0 0;
      border: #f2f2f2;
      overflow: hidden;
    }

    #les-plus-populaires {
      /*display: flex;
            flex-direction: column;*/
      border-radius: 10px 10px 10px 10px;
      width: 924px;
      height: 252px;
      box-sizing: border-box;
      padding-top: 33px;
      padding-bottom: 30px;
    }

    .populaires-cards {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      flex-direction: column;
      background-color: white;
      border-radius: 20px;
      filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
      box-sizing: border-box;
      margin-top: 33px;
      width: 274.67px;
      height: 146px;
      padding: 0 5px;
      /*padding: 5px 0 0 5px;*/
    }

    .populaires-cards img {
      width: 91.56px;
      height: 135px;
      object-fit: cover;
      border-radius: 10% 0% 0 10px;
      border: #f2f2f2;
      overflow: hidden;
    }

    .section-title-pop {
      display: flex;
      font-size: 1.375em;
      font-weight: 700;
      justify-content: space-between;
    }

    #les-activites-a-marseille {
      display: flex;      
      flex-wrap: wrap;
      width: 924px;
      height: 390.02px;
      padding-bottom: 10px;
    }

    .activites-card {
      width: 193.50px;
      height: 270px;
      background-color: #fff;
      border: 2px solid whitesmoke;
      border-radius: 5%;
      padding-bottom: 10px;   
    }

    #les-activites-a-marseille img {
      width: 191.5px;
      height: 200px;
      object-fit: cover;
      border-radius: 5% 5% 0 0;
      background-color: #f2f2f2;
    }

    .affiche-title {
      font-size: 1.125em;
      font-weight: 700;
      padding-top: 30px;
      padding-left: 30px;
    }

  }


  @media screen and (max-width: 768px) {

    .main-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 30px;
      width: 375px;
      padding: 50px;
    }

    #primary-nav ul li:hover {    
      display: flex;
      justify-content: space-around;
      color: #0065fc;
      border-bottom : 2px solid blue;
      border-top:none;
      width: 100%;
      height:50px;
      padding-left: 30px;
      padding-right : 40px;
      
    }
  
    #primary-nav ul li{  
      height:50px;
      padding-left: 30px;
      padding-right : 40px;
      
    }
    

    #search_mobile {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      border-radius: 10px;
    }

    .inputGroup_btn {
      /*bouton rechercher*/
      border: 2px solid #f2f2f2;
      font-size: 1.25em;
      color: #f2f2f2;
      background-color: #0065fc;
      width: 60px;
      height: 48px;
      padding: 0 25px;
      border-radius: 0 15px 15px 0;
      display: none;
    }

    .inputGroup_text {
      font-size: 1.25em;
      border-style: hidden;
      margin-bottom: 30px;
      margin-top: 28px;
      font-weight: 700;
      text-align: center;
      border: 3px solid #f2f2f2;
      height: 48px;
    }

    header div h1 {
      text-align: center;
      padding-bottom: 10px;
      width: 347px;
      margin-left: 10px;
    }


    header div span {
      text-align: center;
      width: 375px;

    }

    #town {
      font-size: 1.125em;
      width: 300px;
    }

    #info p {
      padding-top: 20px;
    }

    #filterGroup {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      width: 375px;
      height: 161px;
      padding-left: 10px;
    }


    .filterGroup_item {
      /*display: flex;
              justify-items:center;
              align-items: center;*/
      font-size: 0.875em;
      font-weight: 700;
      height: 50px;
      width: 162px;
      margin: 1px 2px 1px;
      padding: 4px 19px 04px 19px;
      border-radius: 25px;
      border: 2px solid darkgray;
    }

    .filterGroup_title {
      font-family: raleway;
      font-size: 1.125em;
      font-weight: 700;
      padding-top: 15px;
      padding-left: 15px;
      padding-bottom: 5px;
    }

    .align-vert-header {
      display: flex;
      width: 375px;
      /* height: 663px; */
      align-items: flex-start;
      /*flex-wrap: wrap;*/
      align-content: space-around;
      /*margin-right: 50px;*/
      padding-top:40px;
    }

    .align-horiz-nav {
      display: flex;
      /* flex-direction: column; */
      /* height: 50px; */
      padding-bottom: 115px;
      flex-wrap: wrap;
      align-content: stretch;
      justify-content: flex-start;
      align-items: center;
      width: 395px;
    }

    .align-horiz-sec-nav {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      width: 350px;
      /*height: 161px;*/
    }

    .align-horiz-pri-nav-1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 30px;
      align-items: center;
      
    }

    .align-horiz-pri-nav-2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 30px;
      margin-right: 10px;
    }

    .align-horiz-centre-info {
      display: flex;
      align-items: center;

    }

    .align-horiz-act {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px 10px 10px 10px;
      /*padding: 30px;
              width: 1340px;
             margin-left: 30px;*/
    }

    .align-vert-pop {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .align-horiz-heb {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .align-horiz-ftr {
      display: flex;
      flex-direction: column;
      background-color: rgba(242, 242, 242, 1);
    }

    .align-vert-ftr {
      display: flex;
      flex-direction: column;
      align-content: space-between;
      justify-content: space-evenly;
      align-items: flex-start;
      width: 375px;
      /*margin-left: 100px; 
            justify-content: space-around;
            align-items: flex-start;
            padding-left: 30px;           
            height: 461px;*/
    }

    #info {
      display: flex;
      padding-bottom: 30px;
      padding-top: 10px;
      /*height: 240px;*/
    }

    #filterGroup ul li {
      padding: 9px 6px 9px;
    }

    #recherche {
      display: flex;
      align-items: center;
      width: 415px;
      height: 49px;
      padding-left: 15px;
      padding-right: 50px;
    }

    .section-title-heb {
      margin: 0;
      font-weight: 700;
      font-size: 1.375em;
      padding-left: 20px;
    }

    #recherche-hebergement {
      display: flex;
      padding-top: 30px;
      /*padding-bottom: 105px;*/
    }

    .hebergements-et-populaires {
      display: flex;
      flex-direction: column-reverse;
      /* justify-content: space-between; */
      /* align-items: center; */
    }

    #hebergement {
      border-radius: 10px 10px 10px 10px;
      width: 375px;
      height: 1558.50px;
      /*background-color: rgba(242, 242, 242, 1);*/
      box-sizing: border-box;
      padding-top: 70px;
      /*margin-left: 30px;*/
    }

    .hebergement-card {
      display: flex;
      margin-top: 33px;
      justify-content: flex-start;
      width: 345px;
      height: 207.25px;
      background-color: white;
      border-radius: 20px;
      padding: 5px;
      filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
      box-sizing: border-box;
      margin-left: 16px;
    }

    #hebergement figure img {
      width: 335px;
      height: 124px;
      object-fit: cover;
      border-radius: 8% 8% 0 0;
      border: #f2f2f2;
      overflow: hidden;
    }

    #les-plus-populaires {
      border-radius: 0px 10px 10px 10px;
      width: 375px;
      height: 598px;
      /*background-color: rgba(242, 242, 242, 1);*/
      box-sizing: border-box;
      padding-top: 33px;
      padding-bottom: 30px;
      /* margin-left: 15px;*/
    }

    .populaires-cards {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      flex-direction: column;
      background-color: white;
      border-radius: 20px;
      filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
      box-sizing: border-box;
      margin-top: 33px;
      width: 335px;
      height: 157px;
      padding: 5px 0 0 5px;
    }

    .populaires-cards img {
      width: 111.67px;
      height: 146px;
      object-fit: cover;
      border-radius: 10% 0% 0 10px;
      border: #f2f2f2;
      overflow: hidden;
    }

    .affiche-title {
      font-size: 1.125em;
      font-weight: 700;
      padding-top: 50px;
      padding-left: 15px;
      padding-bottom: 30px;
    }


    .section-title-activites {
      font-size: 1.375em;
      font-weight: 700;
      padding-top: 100px;
      /*padding-left: 60px;*/
    }

    #les-activites-a-marseille {
      display: flex;
      flex-wrap: wrap;
      width: 375px;
      height: auto;
      align-content: center;
      /*padding-left: 3px;*/
    }

    .activites-card {
      width: 100%;
      height: auto;
      background-color: #fff;
      border: 2px solid whitesmoke;
      border-radius: 5%;
    }

    #les-activites-a-marseille img {
      width: 295px;
      /*height: auto;*/
      object-fit: cover;
      border-radius: 5% 5% 0 0;
      background-color: #f2f2f2;
      overflow: hidden;
    }

  }